@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');
.btn-nav-toggle{
    min-width: 30px;
    background-color: #fddb19 !important;
    border-color: #fddb19 !important;
    &:hover{
        background-color: #ffe449 !important;
        border-color: #ffe449 !important;
    }
    &:focus{
        background-color: #ffe449 !important;
        border-color: #ffe449 !important;
    }
}
.admin-nav{
    background-color: #fff !important;
    font-family: 'Tajawal', sans-serif;
    margin: 0 !important;
}
li{
    .site-link{
        font-family: 'TheSans', sans-serif;
        font-size: 14px;
        font-weight: 900;
        border: none !important;
        cursor: pointer;
    }
    &.active{
        .site-link{
            color: #00336B !important;
        }
    }
    &:hover{
        color: #fddb19;
    }
}
.logo{
    width: 120px;
}