<nav class="sidebar-admin" id="sidebar" [class]="isExpanded()? '' :'active' ">
  <h1><a routerLink="dashboard" class="admin-logo  text-center" >
    {{ isExpanded()? appName:appShortenName }}
     </a>
     <!-- <div class="clearfix" ></div> -->
    </h1>
    <div class="list-container">
      <ul class="list-unstyled components mb-5 px-3">

        <li routerLinkActive="active" routerLink="inventory" pTooltip="movies" tooltipPosition="left">
          <a class="aside-link  px-3" [ngClass]="{'floating-li': isExpanded() == true}"><i class="  fa-solid fa-gears"></i>{{ isExpanded()? " movies ": '' }} </a>
          <div class="clearfix" ></div>
        </li>
        <li routerLinkActive="active" routerLink="manfacturer-countries" pTooltip="Categories" tooltipPosition="left" >
          <a class="aside-link  px-3 " [ngClass]="{'floating-li': isExpanded() == true}" ><i class="  fa-solid fa-globe  "></i> {{ isExpanded()? "Categories": '' }} </a>
          <div class="clearfix" ></div>
        </li>
        

      </ul>
    </div>
 
</nav>